body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url(/assets/images/whiskey.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* Rule */

.rule {
    width: 200px;
    height: 5px;
    border: none;
    background-color: #c0bcb0;
}

.quotes-container {}

.features-container {}

.favorites-container {}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    z-index: 5;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #ffffff;
}

.jumbotron .lead {
    margin: 25px;
    color: #ffffff;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #f03f40;
    border-color: #f03f40;
    color: #ffffff;
}